<footer>
  <span>Node <em>&</em> Express</span>
  <form method="post" action="/check-user">
    <input type="text" name="username" placeholder="Post a review" />
    <button type="submit">Post</button>
  </form>
</footer>
