<header>
  <span>Node <em>&</em> Express</span>
  <nav>
    <a href="/">Main</a>
    <a href="">About us</a>
  </nav>
  <form>
    <input type="text" placeholder="User name" />
    <button>Search</button>
  </form>
</header>
